.singlePage{
    display: flex;
    height: 100%;


    .details{
        flex: 3;

        .wrapper{
            padding-right: 50px;
        }
    }

    .features{
        flex: 2;
        background-color: #e8e8e8;

        .wrapper{
            padding: 0 20px;
        }
    }
}