@import '../../responsive.scss';

.searchBar{
    form{
        border: 1px solid #999;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        height: 64px;
        gap: 5px;

        @include sm{
            flex-direction: column;
            border: none;
        }

        input{
            border: none;
            padding: 0 10px;
            width: 200px;
            border-radius: 20px;

            @include lg{
                padding:  0px 5px;

                &:nth-child(2), &:nth-child(3){
                    width: 140px;
                }
            }
            @include md{
                width: 200px;

                &:nth-child(2), &:nth-child(3){
                    width: 200px;
                }
            }

            @include sm{
                width: auto;
                &:nth-child(2), &:nth-child(3){
                    width: auto;
                }
                padding: 20px;
                border: 1px solid #999;
            }
        }

        button{
            border: none;
            border-radius: 20px;
            cursor: pointer;
            background-color: #1a1a1a;
            flex: 1;

            
            @include sm{
                padding: 10px;
            }

            img{
                height: 24px;
                width: 24px;
            }
        }
    }
}